{% extends 'base.html' %}

{% block content %}

<form action="/links/" method="post">
    {% csrf_token %}
    <p>Please enter URL</p><br>
    {{ form }}
  <input type="submit" value="Submit">
</form>
{% if response_links %}
    <ul>
        {% for link in response_links %}
        <li>
            <form action="/links/" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete_pk_id" value="{{ link.id }}">
                <button type="submit" onclick="return confirm('Точно удаляем?') class="btn btn-primary js-create-book"">Удалить</button>
            </form>
            <a href="{{ link.url }}">{{ link.url }}</a><br>
            <b>{{ link.site_name }}</b><br>
            <b>{{ link.title }}</b>
            <p>{{ link.description|safe }}</p>
            <img src="{{ link.image }}">

        </li>

        {% endfor %}
    </ul>
        {% if page_output.has_previous %}
        <a href="/links/{{ page_output.previous_page_number }}">назад</a>
        {% endif %}
    <p>Страница {{ page_output.number }}</p>
        {% if page_output.has_next %}
        <a href="/links/{{ page_output.next_page_number }}">вперед</a>
        {% endif %}
{% else %}
    <p>No Links are available.</p>
{% endif %}
{% endblock %}