{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
  <div class="container">
    <h2>Sign up</h2>
    <form method="post" novalidate>

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Create an account</button>

    </form>
  </div>
{% endblock %}